language: node_js
node_js:
  - lts/*
cache:
  npm: false
script:
  - npm install
  - npm run lint
  - npm run test
  - npm run build
before_deploy:
  - export TRAVIS_TAG=$GIT_TAG
  - echo "$TRAVIS_TAG"
deploy:
  provider: npm
  cleanup: false
  email: $NPM_EMAIL
  api_token: $NPM_TOKEN
  access: 'public'
  on:
    tags: true
  edge: true
branches:
  only:
    - master
    - /^v.*$/
after_script:
  - cd dist
  - cd -
